.home-page {
  height: 100%;
}

.logo {
  height: 60px;
  background-image: url("../../logo.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  margin: 20px;
  cursor: pointer;
}

.badger {
  height: 90px;
  background-image: url("../../badger.svg");
  background-size: 90px auto;
  background-repeat: no-repeat;
  background-position: center;
}
